.user {
  padding: 3rem 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  flex: 0 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: grid;
  gap: 0.15rem;
}

.name {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1rem;
}

.location {
  margin: 0;
  color: #818181;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1;
}

@media (max-width: 720px) {
  .user {
    padding: 1.5rem 0;
  }
}
